POSTGRES_DB=m1_banklab
POSTGRES_USER=m1_banklab
POSTGRES_PASSWORD=m1_banklab
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/m1_banklab
SPRING_DATASOURCE_USERNAME=m1_banklab
SPRING_DATASOURCE_PASSWORD=m1_banklab
SERVER_PORT=8080
